body {
  font-family: Verdana, sans-serif;
  text-align: center;
}

header {
  margin: 0;
}

header li {
  float: left;
  overflow: hidden;
  width: 120px;
}

li {
 list-style-type: none; 
}

a {
  text-decoration: none; 
}

img {
  border-radius: 50%;
  border-width: 4px;
}
