body {
  background-color : rgb(206, 206, 206) ;
  font-family: Verdana, sans-serif;
  margin: 0;
}

header ul li {
  display: inline-block;
}

a {
  text-decoration: none;
}

header {
  background-color: white;
  display: flex;
}

ul {
 list-style-type: none;
}

img {
  border-radius: 50%;
  border-width: 4px;
  border-style: solid;
  border-color: white;
}
